html,
body {
  height: 100%;
}

body {
  background: #08c3f1;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container > .header {
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 22px;
  background: rgba(7, 7, 7, 0.3);
  color: #fff;
}

.container > .header > h2 {
  font-weight: 600;
}

.container > .main {
  flex: 1;
  display: flex;
  height: 100%;
  position: relative;
}

.container > .main > .main-left {
  width: 250px;
  height: 100%;
  background: cadetblue;
}

.container > .main > .main-left > ul {
  height: 100%;
}

.container > .main > .main-left > ul > li {
  text-align: center;
  margin-bottom: 20px;
  padding: 15px 0;
  font-size: 16px;
}

.container > .main > .main-left > ul > li:hover {
  background: black;
  color: #fff;
  cursor: pointer;
}

.container > .main > .main-right {
  padding: 20px;
  flex: 1;
}

.container > .main > .main-right > .right-top {
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: flex-end;
}

.container > .main > .main-right > .right-top > h3 {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  flex: 1;
}

.container > .main > .main-right > .right-top > button {
  width: 60px;
  height: 30px;
  outline: none;
  border: none;
  font-size: 15px;
  font-weight: bold;
  background: chartreuse;
  border-radius: 5px;
}

.container > .main > .main-right > .right-top > button:hover {
  background: black;
  color: #fff;
  cursor: pointer;
}

.container > .main > .main-right > .list {
  margin-top: 20px;
  border: 1px solid #fff;
  border-bottom: none;
}

.container > .main > .main-right > .list > .right-title {
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #fff;
}

.container > .main > .main-right > .list > .right-title > ul {
  display: flex;
}

.container > .main > .main-right > .list > .right-title > ul > li {
  flex: 1;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.container > .main > .main-right > .list > .right-list > ul {
  display: flex;
}

.container > .main > .main-right > .list > .right-list > ul > li {
  flex: 1;
  text-align: center;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #fff;
  overflow: hidden;
}

.container > .main > .main-right > .list > .right-list > ul > li > .imgs {
  width: 50px;
  height: 100%;
  display: block;
  margin: 5px auto;
}

.container > .main > .main-right > .list > .right-list > ul > li > .imgs > img {
  width: 100%;
}

.container > .main > .main-right > .list > .right-list > ul > li > button {
  width: 60px;
  height: 30px;
  outline: none;
  border: none;
  font-size: 15px;
  font-weight: bold;
  background: chartreuse;
  border-radius: 5px;
}

.container > .main > .main-right > .list > .right-list > ul > li > button:nth-child(2) {
  width: 60px;
  height: 30px;
  outline: none;
  border: none;
  font-size: 15px;
  font-weight: bold;
  background: rgba(214, 11, 28, 0.836);
  border-radius: 5px;
}

.container > .main > .main-right > .list > .right-list > ul > li > button:hover {
  background: black;
  color: #fff;
  cursor: pointer;
}

.container > .main > .update {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(10, 10, 10, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.container > .main > .update > .update-main {
  padding: 30px;
  background: #fff;
  text-align: center;
  border-radius: 10px;
}

.container > .main > .update > .update-main > .picture {
  padding: 10px;
  border: 1px solid #000;
  display: flex;
}

.container > .main > .update > .update-main > .picture > label {
  width: 100px;
  height: 160px;
}

.container > .main > .update > .update-main > .picture > label > img {
  width: 100%;
  height: 100%;
}

.container > .main > .update > .update-main > .picture > .picture-right {
  margin-left: 10px;
}

.container > .main > .update > .update-main > .picture > .picture-right > ul > li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8px 0;
}

.container > .main > .update > .update-main > .picture > .picture-right > ul > li > span {
  font-size: 16px;
  font-weight: bold;
}

.container > .main > .update > .update-main > .picture > .picture-right > ul > li > input {
  padding: 2px 5px;
}

.container > .main > .update > .update-main > button {
  margin-top: 20px;
  width: 60px;
  height: 30px;
  outline: none;
  border: none;
  font-size: 15px;
  font-weight: bold;
  border-radius: 5px;
}

.container > .main > .update > .update-main > button:hover {
  background: black;
  color: #fff;
  cursor: pointer;
}

.container > .main > .amend {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(10, 10, 10, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.container > .main > .amend > .amend-main {
  padding: 30px;
  background: #fff;
  text-align: center;
  border-radius: 10px;
}

.container > .main > .amend > .amend-main > .amend-img {
  padding: 10px;
  border: 1px solid #000;
  display: flex;
}

.container > .main > .amend > .amend-main > .amend-img > label {
  width: 100px;
  height: 160px;
}

.container > .main > .amend > .amend-main > .amend-img > label > img {
  width: 100%;
  height: 100%;
}

.container > .main > .amend > .amend-main > .amend-img > .amend-img-right {
  margin-left: 10px;
}

.container > .main > .amend > .amend-main > .amend-img > .amend-img-right > ul > li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8px 0;
}

.container > .main > .amend > .amend-main > .amend-img > .amend-img-right > ul > li > span {
  font-size: 16px;
  font-weight: bold;
}

.container > .main > .amend > .amend-main > .amend-img > .amend-img-right > ul > li > input {
  padding: 2px 5px;
}

.container > .main > .amend > .amend-main > .amend-btn > button {
  margin-top: 20px;
  width: 60px;
  height: 30px;
  outline: none;
  border: none;
  font-size: 15px;
  font-weight: bold;
  border-radius: 5px;
}

.container > .main > .amend > .amend-main > .amend-btn > button:hover {
  background: black;
  color: #fff;
  cursor: pointer;
}

.container > .main > .del {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(10, 10, 10, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.container > .main > .del > .del-main {
  width: 300px;
  height: 100px;
  padding: 30px;
  background: #fff;
  text-align: center;
  border-radius: 10px;
}

.container > .main > .del > .del-main > .del-inp > span {
  font-size: 30px;
}

.container > .main > .del > .del-main > .amend-btn > button {
  margin-top: 20px;
  width: 60px;
  height: 30px;
  outline: none;
  border: none;
  font-size: 15px;
  font-weight: bold;
  border-radius: 5px;
}

.container > .main > .del > .del-main > .amend-btn > button:hover {
  background: black;
  color: #fff;
  cursor: pointer;
}
