html,
body {
    height: 100%;
}
body {
    background: rgb(8, 195, 241);
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    >.header {
        height: 50px;
        text-align: center;
        line-height: 50px;
        font-size: 22px;
        background: rgba(7, 7, 7, .3);
        color: #fff;
        >h2 {
            font-weight: 600;
        }
    }
    >.main {
        flex: 1;
        display: flex;
        height: 100%;
        position: relative;
        >.main-left {
            width: 250px;
            height: 100%;
            background: cadetblue;
            >ul {
                height: 100%;
                >li {
                    text-align: center;
                    margin-bottom: 20px;
                    padding: 15px 0;
                    font-size: 16px;
                    &:hover {
                        background: black;
                        color: #fff;
                        cursor: pointer;
                    }
                }
            }
        }
        >.main-right {
            padding: 20px;
            flex: 1;
            >.right-top {
                display: flex;
                height: 40px;
                align-items: center;
                justify-content: flex-end;
                >h3 {
                    font-size: 22px;
                    font-weight: bold;
                    text-align: center;
                    flex: 1;
                }
                >button {
                    width: 60px;
                    height: 30px;
                    outline: none;
                    border: none;
                    font-size: 15px;
                    font-weight: bold;
                    background: chartreuse;
                    border-radius: 5px;
                    &:hover {
                        background: black;
                        color: #fff;
                        cursor: pointer;
                    }
                }
            }
            >.list {
                margin-top: 20px;
                border: 1px solid #fff;
                border-bottom: none;
                >.right-title {
                    height: 40px;
                    line-height: 40px;
                    border-bottom: 1px solid #fff;
                    >ul {
                        display: flex;
                        >li {
                            flex: 1;
                            text-align: center;
                            font-size: 18px;
                            font-weight: bold;
                        }
                    }
                    
                }
                >.right-list {
                    >ul {
                        display: flex;
                        >li {
                            flex: 1;
                            text-align: center;
                            height: 40px;
                            line-height: 40px;
                            border-bottom: 1px solid #fff;
                            overflow: hidden;
                            >.imgs {
                                width: 50px;
                                height: 100%;
                                display: block;
                                margin: 5px auto;
                                >img {
                                    width: 100%;
                                }
                            }
                            >button {
                                width: 60px;
                                height: 30px;
                                outline: none;
                                border: none;
                                font-size: 15px;
                                font-weight: bold;
                                background: chartreuse;
                                border-radius: 5px;
                                &:nth-child(2) {
                                    width: 60px;
                                    height: 30px;
                                    outline: none;
                                    border: none;
                                    font-size: 15px;
                                    font-weight: bold;
                                    background: rgba(214, 11, 28, 0.836);
                                    border-radius: 5px;
                                }
                                &:hover {
                                    background: black;
                                    color: #fff;
                                    cursor: pointer;
                                }
                                
                            }
                        }
                    }
                }
            }
        }
        >.update {
            position: fixed;
            width: 100%;
            height: 100%;
            background: rgba(10, 10, 10, .5);
            display: flex;
            justify-content: center;
            align-items: center;
            display: none;
            >.update-main {
                width: 500px;
                height: 100px;
                padding: 30px;
                background: #fff;
                text-align: center;
                border-radius: 10px;
                >.update-inp {
                    >input {
                        width: 400px;
                        padding: 8px 10px;
                    }
                }
                >button {
                    margin-top: 20px;
                    width: 60px;
                    height: 30px;
                    outline: none;
                    border: none;
                    font-size: 15px;
                    font-weight: bold;
                    border-radius: 5px;
                    &:hover {
                        background: black;
                        color: #fff;
                        cursor: pointer;
                    }
                }
            }
            
        }
        >.amend {
            position: fixed;
            width: 100%;
            height: 100%;
            background: rgba(10, 10, 10, .5);
            display: flex;
            justify-content: center;
            align-items: center;
            display: none;
            >.amend-main {
                width: 500px;
                height: 100px;
                padding: 30px;
                background: #fff;
                text-align: center;
                border-radius: 10px;
                >.amend-inp {
                    >input {
                        width: 400px;
                        padding: 8px 10px;
                    }
                }
                >.amend-btn {
                    >button {
                        margin-top: 20px;
                        width: 60px;
                        height: 30px;
                        outline: none;
                        border: none;
                        font-size: 15px;
                        font-weight: bold;
                        border-radius: 5px;
                        &:hover {
                            background: black;
                            color: #fff;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
        >.del {
            position: fixed;
            width: 100%;
            height: 100%;
            background: rgba(10, 10, 10, .5);
            display: flex;
            justify-content: center;
            align-items: center;
            display: none;
            >.del-main {
                width: 300px;
                height: 100px;
                padding: 30px;
                background: #fff;
                text-align: center;
                border-radius: 10px;
                >.del-inp {
                   >span {
                       font-size: 30px;
                   }
                }
                >.amend-btn {
                    >button {
                        margin-top: 20px;
                        width: 60px;
                        height: 30px;
                        outline: none;
                        border: none;
                        font-size: 15px;
                        font-weight: bold;
                        border-radius: 5px;
                        &:hover {
                            background: black;
                            color: #fff;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}